.about {

    .aboutArticle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 80px 0;

        .locationIcon, .comunityIcon, .blogIcon, .contactIcon {
            display: flex;
            padding: 20px;

            i {
                font-size: 4rem;
                padding: 0 10px;
                color: $textColor;
            }

            a {
                font-size: 4rem;
                color: $black;
                border-bottom: 1px solid rgba(0, 0, 0, 0);
                transition: 0.4s;

                &:hover, &:focus {
                    border-bottom: 1px solid rgba(0, 0, 0, 1);
                }
            }

            p {
                line-height: 25px;
                padding: 20px 0;
            }
        }
    }
}