.blogLanding {
    background: url(../shoeAssets/blog-header.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        text-align: center;
        padding-top: 220px;
        color: $textColor;
    }
}

.blogContent {
    display: flex;
    background: $backgroundColor;

    aside {
        margin: 80px 80px 0 20px;

        .asideArticle {
            background: $white;
            padding: 10px;

            h3 {
                font-size: 3rem;
                color: $textColor;
                padding-top: 40px;
            }

            p {
                line-height: 25px;
            }

            li {
                font-size: 2rem;
                line-height: 25px;
            }
        }
    }   
}

.blogMain {

    .blogArticle {
        background: $white;
        padding: 30px;
        padding-top: 60px;

        h2 {
            color: $textColor;
        }

        p {
            margin-top: 60px;
            line-height: 25px;
        }
    }

    .blogPhoto {
        position: relative;
        right: 40px;
        top: -60px;
        box-shadow: 40px 60px $borderColor;
    }
}

.comment {
    padding: 60px 0;

    blockquote {
        display: flex;
        padding: 30px;

        .personPhoto {
            width: 200px;
            height: 100px;
            padding-right: 20px;
        }

        p {
            line-height: 25px;
            padding-top: 20px;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;

    .inputs {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 10px 0;

        input {
            width: calc(50% - 20px);
            background: $backgroundColor;
            border: none;
            border-bottom: 1px solid $borderColor;
            font-size: 2rem;
        }
    }

    textarea {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid $borderColor;
        background: $backgroundColor;
        font-size: 2rem;
        line-height: 25px;
    }

    button {
        color: $white;
        background: $textColor;
        font-size: 2rem;
        padding: 20px 0;
        margin-top: 10px;
        transition: 0.4s;
        border: 1px solid rgba(255, 255, 255, 0);

        &:hover, &:focus {
            color: $textColor;
            background: $white;
            border: 1px solid $textColor;
        }
    }
}