html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

p {
    color: black;
    font-size: 2rem;
}

h2 {
    font-size: 5.2rem;
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
    font-size: 2rem;
}

a {
    font-size: 2rem;
    text-transform: uppercase;
}

.bgColor {
    background: $backgroundColor;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid red;
}

.visually-hidden { 
    position: absolute !important; 
    height: 1px; width: 1px; 
    overflow: hidden; clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px); 
    white-space: nowrap;
}