header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1;

    a {
        color: $white;
        background: $textColor;
        padding: 10px;
        transition: 0.4s;

        &:hover, &:focus {
            color: $textColor;
            background: $white;
        }
    }

    h1 {
        font-size: 3rem;
    }

    .navigation {
        width: 40%;
        

        ul {
            display: flex;
            justify-content: space-between;

            li {
                font-size: 2rem;
                margin-top: 9px;
            }
        }
    }
}