header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    z-index: 1;

    a {
        color: $white;
        background: $textColor;
        border: 1px solid rgba(255, 255, 255, 0);
        padding: 10px;
        transition: 0.4s;
        border-radius: 5px;

        &:hover, &:focus {
            color: $textColor;
            background: $white;
            border: 1px solid $textColor;
        }
    }

    h1 {
        font-size: 3rem;
    }

    .navigation {
        width: 40%;
        

        ul {
            display: flex;
            justify-content: space-between;

            li {
                font-size: 2rem;
                margin-top: 5px;
            }
        }
    }
}