.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../shoeAssets/header-image.jpg);

    h2 {
        font-size: 6rem;
        color: $textColor;
        width: 20%;
    }

    .landingPhoto {
        width: 650px;
        position: relative;
        top: 150px;
    }
}