.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 6rem;
        color: $textColor;
        width: 20%;
    }

    .landingPhoto {
        width: 650px;
        position: relative;
        top: 150px;
        left: 20px;
    }
}

.headerPhoto {
    background: url(../shoeAssets/header-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
}