.popular {
    display: flex;
    padding: 140px 40px;

    .popularPhoto {
        width: 700px;
        margin-right: 80px;
        box-shadow: 20px 20px $borderColor;
    }

    .popularArticle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            color: $textColor;
        }

        a {
            color: $white;
            background: $accentColor;
            border: 1px solid rgba(255, 255, 255, 0);
            padding: 10px 20px;
            transition: 0.4s;

            &:hover, &:focus {
                color: $accentColor;
                background: $white;
                border: 1px solid $accentColor;
            }
        }
    }
}

.popularGallery {
    display: flex;
    justify-content: center;
    
    figure {
        margin-bottom: 100px;
        transition: 0.4s;

        &:hover, &:focus {
            transform: scale(1.1);
        }
    }

    figure:nth-of-type(2) {
        padding: 0 40px;
    }
}