.sea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;

    h2 {
        padding: 40px 0;
        color: $textColor;
    }

    p {
        padding: 80px 0;
        text-align: center;
        width: 70%;
        line-height: 25px;
    }

    a {
        padding: 10px 20px;
        color: $white;
        background: $textColor;
        border: 1px solid rgba(255, 255, 255, 0);
        transition: 0.4s;

        &:hover, &:focus {
            color: $textColor;
            background: $white;
            border: 1px solid $textColor;
        }
    }
}